
footer {
  position: relative;
  width: 100%;
  height: 469px;
  left: -1px;
  /* top: 204%; */
  background: #64ABF9;
}

.pfoot{
    margin-top: 70px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 175%;
    /* identical to box height, or 32px */
    color: #FFFFFF;
    text-align: center;

}

.wrapper_f {
  margin: 0 auto;
  padding: 10px;
  max-width: 1920px;
}

footer .wrapper_f {
  display: flex;
  justify-content: space-evenly;

}


.col{
  width: 25%;
  padding: 2%;
  text-align: left;
  margin-top: 60px;
}

ul.submenu{
  height: 100px;
  left: 42%;
  top: 130px;
  
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #FFFFFF;

}

li {
  list-style: none; 
  background: url(..//pictures/Viber.png) no-repeat 0 4px;
  padding-left: 24px; 
 }

li{
      padding: 5px 30px;
      
}

.logo2{
  left: 430px;
  right: 61.33%;
  bottom: 37.56%;
  top: 150px;

}


.e-mail{
  width: 133px;
  height: 24px;
  left: 70%;
  top: 140px;
  
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  text-transform: lowercase;
  
  color: #FFFFFF;
    
}

.logo2{
  max-width: 242px;
  max-height: 59px;
  left: 19%;
  top: 130px;
}

.icons{
  height: 25.28px;
  left: 19%;
  margin-top: 40px;
  letter-spacing: 26px;
}

a{
  text-decoration: none;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #FFFFFF;
 
  list-style: none;
}

@media (max-width: 480px) {
  footer {
    position: relative;
    width: 101%;
  
    height: 600px;
    left: -1px;
    
    background: #64ABF9;
  }

  .logo2{
    position: relative;
    width: 242px;
    height: 59px;
    left: 50%;
    top: -20px;
  }

  ul.submenu{
    position: absolute;
    width: 800px;
    height: 100px;
    left: 20%;
    top: 25%;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    list-style: none;
  }

  .icons{
    position: absolute;
    width: 300px;
    height: 25.28px;
    left: 20%;
    top: 44%;
    letter-spacing: 26px;
  }

  li {
    list-style: none; 
    background: url(..//pictures/Viber.png) no-repeat 0 4px;
    padding-left: 24px; 
   }
  
  li{
        padding: 5px 30px;
        
  }
  

a{
  text-decoration: none;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #FFFFFF;
 
  list-style: none;
}

.e-mail{
  position: absolute;
  width: 133px;
  height: 24px;
  left: 26%;
  top: 369px;
  
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  /* or 22px */
  
  
  /* white */
  
  color: #FFFFFF;
    
}

.pfoot{
  width: 281px;
  height: 28px;
  top: 60%;
  left: 15%;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  text-align: center;
  color: #FFFFFF;

}

}