
.h23{   
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 800;
    font-size: 32px;
    line-height: 125%;
    color: #111111;
    
  }
  
  .wrapper4 {
    margin: 0 auto;
    padding: 10px;
    max-width: 1920px;
  }

  .new_window4 .wrapper4 {
    display: flex;
    flex-direction: row;
    justify-content: end;
  }

  .new_window4 h2{
    margin-bottom: 75px;
    max-width: 630px;
  }

  .flex4{
      display: flex;
  }

  .new_window4 .flex4{
    flex-direction: column;
    width: 45%;
  }

  .new_window4 p{
    margin-bottom: 40px;
    max-width: 595px;
  }

  .nadpis2{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 140%;
    color: #000000;
  }
  
  
  .zayava{
    width: 270px;
    height: 60px;
    border: none;
    background: #75E169;
    border-radius: 5px;
    cursor: pointer;
  }

  .zayava:hover{
    border: 2px solid #67AEFC;
}

  .zayava:active{
    background: #67AEFC;
}

  .btnclr1{
  
  /* Button */
  
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  line-height: 100%;
  /* identical to box height, or 15px */
  text-transform: uppercase;
  color: #FFFFFF;
  }
  
  .sphere_w3{
    position: absolute;
    left: 7.97%;
    right: 88.96%;
    top: 190px;
    bottom: 28.44%;
    display: none;
    
  }
  
  .order{
   
  }

  .new_window4 img{
    max-width: 35%;
    max-height: 35%;
    width: 100%;
    height: 100%; 
  }

  .group_w4{
    display: none;
}

.shape_share_phone{
    display: none;
}

  @media (max-width: 480px) {

      .new_window4{
        height: 791px;
      }

    .h23{
        position: absolute;
        width: 280px;
        height: 68px;
        left: 66px;
        top: 60px;
        
        /* H2 mobile */
        
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 800;
        font-size: 23px;
        line-height: 150%;
        /* or 34px */
        
        text-align: center;
        
        color: #111111;
      }

      .order{
        display: none;
  }

  .new_window4 img{
    max-width: 100%;
    max-height: 100%;
    width: 100%;
    height: 100%; 
    margin-right: 15%;
    margin-top: 10%;
  }

  .group_w4{
    display: block;
    position: relative;
    width: 259.87px;
    height: 181.99px;
    left: 26%;
    top: 23%;
}
  

  .shape_share_phone{
    display: block;
    position: relative;
    left: 130.85%;
    top: -26.77%;
    bottom: 39.06%;
}


  .nadpis2{
    position: absolute;
    height: 325px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 175%;
    color: #111111;
    width: 325px;
    left: 11%;
    top: 395px;
    
  }
  
  
  .zayava{
    position: absolute;
    width: 334px;
    height: 60px;
    left: 40px;
    top: 690px;
    background: #75E169;
    border-radius: 10px;
  }
  .btnclr1{
  
  /* Button */
  
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 175%;
  /* or 26px */
  
  text-transform: uppercase;
  
  color: #FFFFFF;
  
  }
  
  .sphere_w3{
   display: none;
  }
}
  